*{
    padding: 0%;
    margin: 0%;
}
.container{
    display: grid;
    grid-template-columns: auto
    auto auto;  
}
h1{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}
.card{
    width: 350px;
    height: 600px;
    margin-top: 40px;
    margin-left: 50px;
    box-shadow: 1px 1px 5px grey;
}
img{
    width: 350px;
    height: 300px;
}
h2{
    font-size: 22px;
    margin-top: 20px;
    padding-left: 25px;
}
p{
    color: gray;
    font-size: 18px;
    margin-top: 20px;
    padding-left: 25px;
    overflow: hidden; 
}
span{
    color: #10B981;
}
.btn{
    padding: 8px 100px;
    margin: 25px 25px;
    color: #10B981;
    cursor: pointer;
    background-color: white;
    border: 1px solid #10B981;  
}
.btn:hover{
    color: white;
    background-color: #10B981;
}

