*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    width: 100px;
    margin: 10px 100px;
}
.mypage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(to right,seagreen,aqua) ;
}
.container{
    background-color: white;
    padding: 50px 40px;
    border-radius: 5px;
}
h1{
    text-align: center;
    color: rgb(6, 184, 255);
}
p{
    color: red;
    font-size: 15px;
    line-height: 30px;
    cursor: pointer;
}
label{
    line-height: 40px;
    color: rgb(13, 88, 63);
}
input{
width: 100%;
padding: 5px;
}
button{
    width: 100%;
    padding: 6px ;
    margin-top: 20px;
    font-weight: 900;
    color: white;
    background-color: rgb(6, 184, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    color: white;
    background:linear-gradient(to right,seagreen,aqua) ;
}